@import "tailwindcss";

@theme{
    --color-primary: #003693;
    --color-primary2: #005DFF;
    --color-primary3: #5F687A;
    --color-primary-dull: #101B44;
    --color-primary-black: #1B1B1B;

}

.container{
    max-width: 1440px;
    padding-left:20px;
    padding-right:20px;
}
section{
    display: flex;
    justify-content: center;
}
*{
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
}
button{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}

ul{
    margin: 0;
}